


<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
        <div class="card animated zoomIn border-0 shadow-lg rounded-4 p-4 text-center">
            <h2 class="fw-bold text-danger">Confirm Deletion</h2>
            <p class="text-muted">Are you sure you want to delete this expense?</p>

            <div class="text-start border rounded-3 p-3 mb-3 bg-light">
                <p><strong>Category:</strong> </p>
                <p><strong>Amount:</strong> $</p>
                <p><strong>Description:</strong> </p>
            </div>

            <form method="POST">
                
                <div class="d-grid gap-3">
                    <button type="submit" class="btn btn-danger rounded-3 shadow-sm fw-medium">Delete</button>
                    <a href="" class="btn btn-outline-dark rounded-3 shadow-sm fw-medium">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

