{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center ">
    <div class="col-md-5">
        <div class="card border-0 animated zoomIn  rounded-4">
            <div class="card-header bg-white border-0 text-center py-4">
                <h3 class="fw-bold text-dark">Welcome Back</h3>
                <p class="text-muted mb-0">Login to your account</p>
            </div>
            <div class="card-body px-5">
                
                    
                        <div class="alert alert-danger rounded-3"></div>
                    
                

                <form method="POST" class="d-grid gap-3">
                    
                    <div>
                        <label class="form-label fw-medium">Username</label>
                        <input type="text" name="username" class="form-control rounded-3" required>
                    </div>
                    <div>
                        <label class="form-label fw-medium">Password</label>
                        <input type="password" name="password" class="form-control  rounded-3" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 py-2 rounded-3 fw-medium">
                        Login
                    </button>
                </form>

                <div class="text-center mt-3">
                    <p class="text-muted">Don't have an account? 
                        <a href="" class="fw-semibold text-dark">Register</a>
                    </p>
                </div>
                <div class="text-center mt-3">
                    <p class="text-muted">
                        <a href="" class="fw-semibold text-dark">Forgot password? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}